/* all */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 5px;
  background: rgb(178, 177, 176);

  font-weight: auto;
  font-size: 16pt;
  line-height: 1.6;
  color: #000000;
  position: relative;
  /* outline: 2px solid blue; */
  display: flex;
  min-height: 2000px;
  overflow: hidden;
  touch-action: none;
  /* color: rgb(88, 88, 88); */
}

.wrapper-title {
  position: fixed;
  bottom: 0;
  left: 27dvw;
  white-space: nowrap;
  /* outline: 2px solid blue; */
  z-index: 11;
}

.title {
  display: inline-block;
  /* outline: 2px solid blue; */
  
  transform-origin: bottom left;
  transform: rotate(-82deg);
  transition: transform 0.35s ease-out;
}

.title.title-rotate {
  transform: rotate(-90deg);
}


.title p {
    font-family: "ESFace Regular";  
    /* color: rgb(114, 95, 121);    */
    line-height: 1;
    margin-left: 1vw;
    font-size: 14dvh;
    width: 100dvh;
}

/* ––––––––––––– background ––––––––––––– */

.background-title {
  position: fixed;
  /* left: -28dvw; */
  left: -33dvw;
  bottom: -20dvh;
  width: 60dvw;       
  height: 200dvh;       

  background: rgb(178, 177, 176);



  transform-origin: 60dvw 180dvh;
  transform: rotate(8deg);

  z-index: 10;

  transition: transform 0.35s ease-out;
}

.background-title-rotate {
  /* left: -23dvw; */
  transform: rotate(0deg);
}


/* ––––––––––––– rotating subtitle ––––––––––––– */

.wrapper-kunst {
  position: fixed;
  bottom: 0;
  left: 28dvw;
  white-space: nowrap;
  /* outline: 2px solid blue; */
}

.kunst {
  display: inline-block;
  padding-left: 3vw;
  /* color: rgb(88, 88, 88); */

  transform-origin: bottom left;
  transform: rotate(-7deg);
  transition: transform 0.35s ease-out, color 0.35s ease-out;
}

.kunst.kunst-rotate {
  transform: rotate(-90deg);
}

.kunst.kunst-hide {
  opacity: 0;
}

.kunst p {
    font-family: "ESFace Italic";     
    line-height: 1;
    font-size: 12dvh;
}

/* ––––––––––––– subjects ––––––––––––– */

.wrapper-subject {
  position: fixed;
  bottom: 0;
  left: 28dvw;
  white-space: nowrap;
  /* outline: 2px solid blue; */
}

.subject {
  display: inline-block;
  padding-left: 4vw;

  transform-origin: bottom left;
  transform: rotate(90deg);
  opacity: 0;
  transition: transform 0.35s ease-out, opacity 0.15s ease-out;
}

.subject.subject-rotate-once {
  opacity: 1;
  transform: rotate(-12deg);
}

.subject.subject-rotate-twice {
  opacity: 1;
  transform: rotate(-90deg);
}

.subject.subject-hide {
  opacity: 0;
}


.subject p {
    font-family: "ESFace Italic";     
    line-height: 1;
    font-size: 8dvh;
}

.subject p sup {
    font-family: "ESFace Regular";     
    line-height: 1;
    /* text-emphasis-style: triangle; */
    /* padding-right: 2px; */
    vertical-align: top;
    font-size: 1.7dvh;
}

/* ––––––––––––– upper diagonal scroll ––––––––––––– */

.diagonal-scroll-area-up {
  position: fixed;
  top: 0;
  right: 0;
  width: 92dvw;
  height: 55dvh;
  overflow: hidden;    
  pointer-events: none;
  /* background: orange; */

  clip-path: polygon(
    0% 0%,    /* top-left lower */
    100% 0%,   /* top-right */
    100% 82%, /* bottom-right */
    0% 100%    /* bottom-left */
  );
}

.scroll-layer-up {
  position: absolute;
  top: -7dvw;
  right: 10dvw;
  width: 100%;
  transition: transform 0.35s ease-out;
  will-change: transform;
  /* border: solid black; */

  transform-origin: top right;
  rotate: -12deg;
}

/* date */

.wrapper-date {
  position: relative;
  white-space: nowrap;
  padding-right: 6dvw;
  padding-top: 2.5dvw;
  height: 44dvh;
  text-align: left;
  transform: rotate(12deg);
  opacity: 0;
  transition: opacity 0.35s cubic-bezier(1, 0, 0.435, 1.006);
  align-content: start;
}

.date {
  position: relative;
  display: block;
  pointer-events: none;
}

.date p {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  
  font-family: "ESFace Italic";     
  line-height: 1;
  font-size: 4.5dvh;
  transform-origin: top right;
  left: 100%;
  transform: rotate(90deg);
  /* word-spacing: -1.5pt; */
}

.label {
  font-family: "ESFace Regular";
  font-size: 1.8dvh;
}

/* img */

.wrapper-img {
  position: relative;
  white-space: nowrap;
  padding-right: 1dvw;
  padding-bottom: 3dvw;
  height: 44dvh;
  text-align: left;
  transform: rotate(12deg);
  opacity: 0;
  transition: opacity 0.35s cubic-bezier(1, 0, 0.435, 1.006);
  align-content: start;
  justify-content: start;

  /* outline: 2px solid blue; */
}

.imgDesc {
  position: relative;
  display: block;
  pointer-events: none;
  /* border: solid #ff0000; */
}

.imgDesc p {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  
  font-family: "ESFace Italic";
  font-size: 3dvh;
  line-height: 1.1;
  transform-origin: top right;
  left: 100%;
  transform: rotate(90deg);
}

.imgDesc p span{
  font-family: "ESFace Regular";     
  line-height: 1;
}

.imgDesc img {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  transform-origin: top left;
  left: 100%;
  transform: rotate(90deg);
  width: 20dvh;
}

.img-frame{
  position: absolute;
  top: -2dvh;
  right: -5dvw;
  margin-bottom: -20dvh;
  transform-origin: bottom right;
  height: 79dvh;
  width: 92dvw;
  transform: rotate(-12deg);
  overflow: hidden;
  pointer-events: none;
}

.mystery img {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 80%;
  transform-origin: top left;
  transform: translate(50dvw, 0dvw) scale(1);
}

.drama img {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 80%;
  transform-origin: top left;
  transform: translate(20dvw, 0dvw) scale(1.2);
}

.radiance img {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 80%;
  transform-origin: top left;
  transform: translate(5dvw, -5dvw) scale(1);
}

.humor img {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 80%;
  transform-origin: top left;
  transform: translate(85dvw, -45dvw) scale(1.5);
}

.sensuality img {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 80%;
  transform-origin: top left;
  transform: translate(-5dvw, -30dvw) scale(1.5);
}


/* ––––––––––––– lower diagonal scroll ––––––––––––– */

.diagonal-scroll-area {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 92dvw;
  height: 56dvh;
  overflow: hidden;    

  clip-path: polygon(
    0% 18.5%,    /* top-left lower */
    100% 0%,   /* top-right */
    100% 100%, /* bottom-right */
    0% 100%    /* bottom-left */
  );
}

.scroll-layer {
  position: absolute;
  top: 7dvh;
  left: 0;
  width: 100%;
  transition: transform 0.35s ease-out;
  will-change: transform;

  transform-origin: top left;
  rotate: -12deg;
}

/* subtitle */

.wrapper-subtitle {
  position: relative;
  white-space: nowrap;
  /* outline: 2px solid blue; */
  height: 56dvh;
  align-content: end;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.subtitle {
  display: inline-block;
  padding-left: 3dvw;
  transform-origin: bottom left;
}


.subtitle p {
    font-family: "ESFace Italic";     
    line-height: 1;
    font-size: 12dvh;
    display: none;
}

/* infos */

.wrapper-info {
  position: relative;
  /* outline: 2px solid blue; */
  height: 56dvh;
  transform: rotate(12deg);
  padding-top: 5dvw;
  padding-left: 5dvw;
  padding-right: 10dvw;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(1, 0, 0.435, 1.006);
}


.info {
  position: absolute;
  display: block;
  top: 0;
  padding-top: 2dvh;
  left: 2.5dvw;
  width: 72dvw;
}

.info p {
    font-family: "MaisonNeue Book";     
    line-height: 1.1;
    font-size: 8dvh;
    text-align: justify;
    hyphens: auto;
    word-spacing: -1.5pt;
    transform: rotate(-12deg);
    transform-origin: top right;
}

.info span {
  font-family: "ESFace Italic";
}

.wrapper-active {
    opacity: 1;
}

.vote {
  position: relative;
  display: block;
  margin-top: 25dvh;
  /* border: solid #ff0000; */
}

.vote button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;  

  background: none;
  appearance: none;
  color: inherit; 
  border: none;
  outline: none;

  font-family: "ESFace Italic";
  font-size: 4.5dvh;
  line-height: 1.6;
  transform-origin: top right;
  left: 100%;
  transform: rotate(90deg);
}

.vote button.I {
  color:rgb(38, 106, 53);
}

.vote button.II {
  color:rgb(178, 63, 18);
}

.vote button.III {
  color:rgb(208, 107, 0);
}

.vote button.IV {
  color:rgb(255, 255, 255);
}

.vote button.V {
  /* color:rgb(146, 80, 154); */
  color:rgb(47, 81, 144);
}


/* ––––––––––––– vote submission ––––––––––––– */


.vote-overlay {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 86dvh;
    background: rgba(178, 177, 176, 1); 
    /* background: rgb(255, 38, 38); */

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.vote-overlay.hidden {
    display: none;
}

.overlay-content {
    /* background: rgba(255, 255, 255, 0.275); */
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: -20dvh;
    transform-origin: bottom left;
    height: 100dvh;
    width: 75dvw;
    overflow: hidden;
    /* align-content: center; */
  }

  .email {
    position: absolute;
    top: 0dvh;
    right: 1dvw;
    transform-origin: bottom right;
    height: 63dvh;
    width: 67dvw;
    /* border: solid #ff0000; */
    transform: rotate(-12deg);
    align-content: end;
  }

  .email p {
    font-family: "ESFace Regular";    
    font-size: 1.7dvh;
    /* border: solid #001aff; */
    text-align: end;
  }

  .email input[type="text"] {
    right: 0;
    /* border: solid #001aff; */
    width: 100%;
    height: 3dvh;
    background: none;
    border-style: solid;
    margin-bottom: 2dvh;
  }

  .email .submit {
    font-size: 3.8dvh;
    text-align: start;
    line-height: 1.5;
    font-family: "ESFace Italic";    
  }

  .legal {
    position: relative;
    font-family: "MaisonNeue Book";  
    font-size: 1.7dvh;
    line-height: 1.7;
  }

  input[type="checkbox"] {
    width: 1.7dvh;
    height: 1.7dvh;
    color: none;
  }

  .cancel {
    position: relative;
    display: block;
    /* border: solid #ff0000; */
  }

  .close-overlay {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;  

  background: none;
  appearance: none;
  color: inherit; 
  border: none;
  outline: none;

  font-family: "MaisonNeue Book";
  font-size: 4.3dvh;
  line-height: 1;
  transform-origin: top right;
  }

  /* .close-overlay {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;  
  padding-top: 1dvw;

  background: none;
  appearance: none;
  color: inherit; 
  border: none;
  outline: none;

  font-family: "ESFace Italic";
  font-size: 4.5dvh;
  line-height: 1.6;
  transform-origin: top right;
  left: 100%;
  transform: rotate(90deg);
  } */




/* ––––––––––––– phone view ––––––––––––– */

@media only screen and (max-width: 600px) {

  /* Smaller body text */
  html {
    font-size: 15px;
    margin: 3vw;
  }

  body {
    background: rgb(178, 177, 176);
  }

  .title p{
    margin-left: 3dvw;
    font-size: 14dvh;
  }

  .kunst p{
    font-size: 25dvw;
  }

  .imgDesc p {
  font-size: 1.7dvh;
}

  .subtitle p{
    font-size: 13dvh;
  }

  .subject {
  padding-left: 5dvw;
}

  .subject p{
    font-size: 12dvw;
  }

  .subject p sup {
    padding-right: 3px;
    font-size: 1.7dvh;
  }

  .info {
  padding-left: 5dvw;
  }

  .info p{
  font-size: 1.7dvh;
  }

}

 /* ––––––––––––– orientation message –––––––––––––  */

#orientation-lock {
  position: fixed;
  inset: 0;
  background: rgb(178, 177, 176);
  z-index: 99999;
  display: none;
  align-items: center;
  justify-content: center;
}

.orientation-message {
  font-family: "ESFace Regular";
  font-size: 4vh;
  text-align: center;
  color: black;
}


@media (orientation: landscape), (min-width: 601px){
  #orientation-lock {
    display: flex;
  }

  html, body {
    height: 100%;
    overflow: hidden;
    touch-action: none;
  }
}
